cvlib==0.2.7
opencv-python-headless==4.9.0.80
Pillow==10.3.0
tensorflow==2.16.1
uvicorn==0.29.0
python-multipart==0.0.9
fastapi==0.110.1
nest-asyncio==1.6.0
numpy==1.26.4
starlette
pydantic-settings>=2.0